################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/MyExpenses/MyExpenses/bin/Debug/netstandard2.0
/MyExpenses/MyExpenses/obj
/MyExpenses/MyExpenses.Android/bin/Debug
/MyExpenses/MyExpenses.Android/obj
/MyExpenses/MyExpenses.iOS/bin/iPhone/Debug
/MyExpenses/MyExpenses.iOS/obj
/MyExpenses/MyExpenses.UWP/bin/x86/Debug
/MyExpenses/MyExpenses.UWP/obj
/.vs/MyExpenses
