################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/MyExpenses/MyExpenses/bin/Debug/netstandard2.0
/MyExpenses/MyExpenses/obj
/MyExpenses/MyExpenses.Android/bin/
/MyExpenses/MyExpenses.Android/obj
/MyExpenses/MyExpenses.iOS/bin/
/MyExpenses/MyExpenses.iOS/obj
/MyExpenses/MyExpenses.UWP/bin/
/MyExpenses/MyExpenses.UWP/obj
/.vs/MyExpenses
MyExpenses/MyExpenses/bin/
